In [1]:
a = ("pa",1,True) #packing

In [2]:
b = ("pa",1,True) #packing

In [3]:
ss,dd,ff = a

In [4]:
ss

'pa'

In [5]:
ff

True

In [6]:
a,x,c = b

In [7]:
a

'pa'

In [8]:
x

1

In [9]:
initialtnum = int(input("start of tables"))
finaltnum = int(input("end of tables"))
for tnum in range(initialtnum,finaltnum+1):
    print("*********")
    for count in range(1,11):
        if count==6:
            break
        print(f"{tnum}*{count}={tnum*count}")

start of tables2
end of tables8
*********
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
*********
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
*********
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
*********
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
*********
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
*********
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
*********
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40